/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1f1e33;
    padding: 1rem 0;
    text-align: center;
}
header h1 {
            color:  #921AFF ;
        }
.header-logo {
    max-width: 100%; 
    height: auto;  
    margin: 0 auto;  
}
.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    padding: 1.5rem;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.card a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 1.2rem;
    background-color: #1f1e33;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
}

.card a:hover {
    background-color: #005bb5;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #1f1e33;
    color: white;
    margin-top: 2rem;
}
